/* this selects all the elements and allows the box 
content to have a boarder box. box-sizing this also allows you to add the 
margin, padding, and content size in one line if you wanted to instead of 
having to write each line witch each property*/
* {
    box-sizing: border-box;
}


div {background-color: aquamarine;}

/* Says no element can be on the left side of it, not even
floating elements. If there are elements there, it will instead
just go to a new line. this also makes the content box expand and
include the other elements to be inside of the box. remember section is 
another form of a div*/
section{ clear: left;}

/* content size is going to be 50% with a border.
It also will float to the left side and be put ouside of the document flow
border type and color needs to be set for box-size to work with the border. 
otherwise the element would be treated as a content box and not a float box even
though it was specified to be a float box.
you also need to make sure to use the 'clear' property to make the element 
go back into the document flow*/
p {width: 50%;
    border: 1px solid black;
    float: left;
}

#p1{background-color: red;
    
}

#p2{background-color:blueviolet;}